.easy {
  background-color: #092146;
  font-family: metropolis, sans-serif;
}
.easy h2 {
  max-width: 474px;
  font-size: 50px;
  line-height: 1.17;
  color: #ffffff;
  font-family: astoria, sans-serif;
  font-weight: 400;
  margin: 0 0 34px;
}
.easy p {
  max-width: 555px;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin: 34px 0 0;
}
.easy span {
  font-weight: 800;
}
@media (max-width: 500px) {
  .easy h2 {
    font-size: 40px;
    line-height: 1.2;
    max-width: 335px;
    margin-bottom: 18px;
  }
  .easy p {
    margin: 18px 0 0;
  }
}
.center {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
.imgContainer {
  position: relative;
  width: 585px;
  margin-right: 615px;
}
@media (max-width: 768px) {
  .imgContainer {
    width: auto;
    max-width: 100%;
    margin-right: 0;
  }
}
.visible {
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: -29px;
  margin: 0;
}
.visible img {
  width: 100%;
  margin-bottom: 0;
  display: block;
}
@media (max-width: 768px) {
  .visible {
    position: relative;
    bottom: auto;
    height: auto;
  }
}
.txtContainer {
  max-width: 575px;
  margin-left: auto;
  padding: 67px 20px 60px 20px;
  position: relative;
  background-color: #092146;
  z-index: 2;
}
@media (max-width: 500px) {
  .txtContainer {
    padding-top: 46px;
    margin-right: auto;
  }
}
