.hero {
  position: relative;
  font-family: metropolis, sans-serif;
  z-index: 2;
}
.hero h1 {
  font-family: astoria, sans-serif;
  font-size: 100px;
  font-weight: 500;
  line-height: 0.53;
  letter-spacing: 0.4px;
  text-align: center;
  color: #eee4cb;
  margin: 0 0 40px;
}
.hero p {
  max-width: 598px;
  font-size: 22px;
  line-height: 1.45;
  text-align: center;
  color: #ffffff;
  margin: 40px auto 0;
}
.hero svg {
  max-height: 36px;
  margin: auto;
  display: block;
  color: #34594c;
}
@media (max-width: 768px) {
  .hero h1 {
    font-family: metropolis, sans-serif;
    font-size: 44px;
    font-weight: 600;
    line-height: 1.09;
    letter-spacing: -0.5px;
    margin-bottom: 16px;
  }
  .hero p {
    max-width: 304px;
    font-size: 20px;
    line-height: 1.4;
  }
}
.greenBox {
  top: 0;
  bottom: 0;
  left: 39px;
  right: 0;
  position: absolute;
  border-radius: 0 0 0 6px;
  box-shadow: 0 2px 18px 0 rgba(0, 0, 0, 0.07);
  background-image: linear-gradient(to bottom, #4e8672, #386656);
  min-height: 636px;
}
@media (max-width: 768px) {
  .greenBox {
    max-width: 100%;
    min-height: 258px;
    left: 0;
    text-align: center;
  }
}
.container {
  position: relative;
  padding: 303px 20px 130px;
}
@media (max-width: 768px) {
  .container {
    padding: 194px 20px 40px;
  }
}
.flexContainer {
  position: relative;
  max-width: 608px;
  margin: 0 auto;
}
.flexBox {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  position: absolute;
  top: -28px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .flexBox {
    position: relative;
    text-align: center;
    justify-content: center;
  }
}
.item {
  padding: 22px 10px 43px;
  min-height: 225px;
}
.item a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .item {
    min-height: 0;
    padding: 0px 24px 40px;
  }
}
.circle {
  display: block;
  width: 87px;
  height: 87px;
  box-shadow: 0 2px 4px 0 rgba(78, 78, 78, 0.11);
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 auto 17px;
  padding: 25.5px 0;
}
.title {
  font-size: 26px;
  font-weight: 600;
  line-height: 1.38;
  text-align: center;
  color: #505d68;
  margin: 17px 0 2px;
}
.content {
  display: block;
  max-width: 166px;
  min-height: 24px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #172821;
  margin: 2px auto 0;
}
@media (max-width: 768px) {
  .title,
  .content {
    color: #fff;
  }
}
